#App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#Game {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1,
p {
  margin: 0;
  padding: 1em 0;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  max-width: 10em;
}
