.tiles {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
}

.tile {
  font-size: 1.5em;
  line-height: 3em;
  height: 3em;
  text-align: center;
  width: 3em;
  box-shadow: 2px 0 0 0 #888, 0 2px 0 0 #888, 2px 2px 0 0 #888,
    2px 0 0 0 #888 inset, 0 2px 0 0 #888 inset;
}

.Bot {
  background-color: #c2b6b6;
}

.Human {
  background-color: #bdf;
}

.Empty {
  background-color: #fff;
}

.clickable {
  border: none;
  cursor: pointer;
}
